<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            padding-top: 10%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <h3>Register</h3>
    <br>
    <form action="http://127.0.0.1:5000/register" method="POST">
        Name : <input type="text" name="name" id="text" autocomplete="off"> <br>  <br>
        Phone : <input type="text" name="number" id="number" autocomplete="off"> <br>  <br>
        Email : <input type="email" name="email" id="email" autocomplete="off"> <br>  <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>