<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
         th,
        td {
            border: 1px solid black;
            padding: 5px;

        }

        table {
            border-spacing: 0;
        }
       
    </style>
</head>
<body>
    <br>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{number}}</td>
            <td>{{email}}</td>
        </tr>
    </table>
</body>
</html>